<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Barstool Sports</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/superpage">
          Super Page
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/boston">
          Boston
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/nyc">
          New York
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/philly">
          Philly
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/chicago">
          Chicago
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/dmv">
          DMV
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/la">
          LA
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/iowa">
          Iowa
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/barstoolu">
          Barstool U
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
