<ion-view title="Super Page">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-repeat="blog in blogs" class="list card">

  <div class="item">
    <h2>{{blog.author}}</h2>
    <p>{{blog.date}}</p>
  </div>

  <div class="item item-body">
    <h2 class="blog-title">
     {{blog.headline}}
    </h2>
    <img class="full-image" ng-src="img/{{blog.image}}">
    <p>
      <a href="#" class="subdued">{{blog.likes}} Like<span ng-if="blog.likes > 1">s</span><span ng-if="blog.likes == 0">s</span></a>
      <a href="#" class="subdued">{{blog.comments}} Comment<span ng-if="blog.comments > 1">s</span><span ng-if="blog.comments == 0">s</span></a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
  </ion-content>
</ion-view>
